# 월별 승하차 csv파일 병합(merge)

In [1]:
import pandas as pd
import numpy as np
import glob
import os
import sys
import calendar
import datetime
import time

## 경로에 있는 csv파일을 새로운 csv파일로 합침

In [2]:
input_path = sys.argv[1]
output_file = sys.argv[2]

all_files = glob.glob(os.path.join(input_path,'C:/Python/project01/subway/CARD_*.csv'))

all_data_frames = []

for file in all_files:
    data_frame = pd.read_csv(file, index_col=None, encoding = 'utf-8')
    all_data_frames.append(data_frame)

data_frame_concat = pd.concat(all_data_frames, axis=0, ignore_index=True)
data_frame_concat.to_csv("subway_merge", index = False) # 병합한 결과를 csv로 내보내기

## 병합한 csv의 dataframe

In [3]:
df = pd.read_csv('subway_merge_1.csv', encoding = 'utf-8')
df.head()

       사용일자 요일  노선명  역ID     역명  승차총승객수  하차총승객수      등록일자
0  20150101  목  2호선  236  영등포구청    6199    6219  20151217
1  20150101  목  2호선  237     당산    7982    8946  20151217
2  20150101  목  2호선  238     합정   17406   15241  20151217
3  20150101  목  2호선  239   홍대입구   57469   51756  20151217
4  20150101  목  2호선  240     신촌   30115   27766  20151217

## 연도를 뽑아서 몇 주 차인지, 무슨 요일인지 나타내기

In [4]:
date=list(df.iloc[:,0])
type(date)
date
# date5=data2.iloc[:1000,:]
# date5
# date.head()
# data3=list(date)
# data3
#int('01')

[20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150101,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 20150102,
 ...]

## dataframe에 주 차, 요일, 승하차총승객수 추가

#### 주 차, 요일, 승하차총승객수 = 승차총승객수 + 하차총승객수

In [5]:
# datelist=[]
# for i in range(len(df)):
#     date2=str(date[i])
#     year=date2[:4]
#     month=date2[4:6]
#     day=date2[6:8]
#     da=datetime.date(int(year),int(month),int(day)).isocalendar()[1:]
#     datelist.append(da)
# datelist
# df["주차요일"] = datelist
# df["승하차총승객수"] = df["승차총승객수"] + df["하차총승객수"]
# df.head()
# df.to_csv('subway_merge_weekdays')

       사용일자 요일  노선명  역ID     역명  승차총승객수  하차총승객수      등록일자    주차요일  승하차총승객수
0  20150101  목  2호선  236  영등포구청    6199    6219  20151217  (1, 4)    12418
1  20150101  목  2호선  237     당산    7982    8946  20151217  (1, 4)    16928
2  20150101  목  2호선  238     합정   17406   15241  20151217  (1, 4)    32647
3  20150101  목  2호선  239   홍대입구   57469   51756  20151217  (1, 4)   109225
4  20150101  목  2호선  240     신촌   30115   27766  20151217  (1, 4)    57881

## df에 주차요일, 년주차요일, 승하차총승객수 추가

In [6]:
datelist=[]
datelist2=[]
for i in range(len(df)):
    date2=str(date[i])
    year=date2[:4]
    month=date2[4:6]
    day=date2[6:8]
    da=datetime.date(int(year),int(month),int(day)).isocalendar()[1:]
    da2=datetime.date(int(year),int(month),int(day)).isocalendar()
    datelist.append(da)
    datelist2.append(da2)
datelist
df["주차요일"] = datelist
df["년주차요일"] = datelist2
df["승하차총승객수"] = df["승차총승객수"] + df["하차총승객수"]
df.head()

,사용일자,요일,노선명,역ID,역명,승차총승객수,하차총승객수,등록일자,주차요일,승하차총승객수,년주차요일
0,20150101,목,2호선,236,영등포구청,6199,6219,20151217,"(1, 4)",12418,"(2015, 1, 4)"
1,20150101,목,2호선,237,당산,7982,8946,20151217,"(1, 4)",16928,"(2015, 1, 4)"
2,20150101,목,2호선,238,합정,17406,15241,20151217,"(1, 4)",32647,"(2015, 1, 4)"
3,20150101,목,2호선,239,홍대입구,57469,51756,20151217,"(1, 4)",109225,"(2015, 1, 4)"
4,20150101,목,2호선,240,신촌,30115,27766,20151217,"(1, 4)",57881,"(2015, 1, 4)"

## 승하차총승객수 내림차순

In [7]:
sums=df["승하차총승객수"].groupby([df["년주차요일"],df["주차요일"],df["역명"]]).sum()
sums2=sums.reset_index(name="승하차총승객수").reindex(columns=["년주차요일","주차요일","역명","승하차총승객수"])
date6=pd.DataFrame(sums2)
means=date6["승하차총승객수"].groupby([date6["주차요일"],date6["역명"]]).mean()
means2=means.reset_index(name="승하차총승객수").reindex(columns=["주차요일","역명","승하차총승객수"])
obj=pd.DataFrame(means2)
obj2=obj.sort_values(by=['주차요일','승하차총승객수'], ascending=[True, False])
obj2

           주차요일            역명    승하차총승객수
11       (1, 1)            강남  191881.25
415      (1, 1)      잠실(송파구청)  187340.00
498      (1, 1)          홍대입구  179863.25
33       (1, 1)         고속터미널  175718.50
247      (1, 1)           서울역  168329.25
302      (1, 1)            신림  128998.25
214      (1, 1)            사당  123774.50
431      (1, 1)          종로3가  118178.75
24       (1, 1)          건대입구  118073.25
255      (1, 1)            선릉  115833.50
51       (1, 1)       구로디지털단지  114991.00
300      (1, 1)           신도림  113478.00
222      (1, 1)      삼성(무역센터)  110138.75
3        (1, 1)       가산디지털단지  105094.50
395      (1, 1)         을지로입구   98130.50
282      (1, 1)            수원   97731.00
356      (1, 1)           영등포   97512.00
315      (1, 1)            신촌   95430.25
245      (1, 1)   서울대입구(관악구청)   94781.50
430      (1, 1)            종각   93497.25
289      (1, 1)            시청   92154.25
16       (1, 1)    강변(동서울터미널)   90562.25
92       (1, 1)            노원   86913.00
351      (1, 1)            역삼   85308.25
462      (1, 1)  청량리(서울시립대입구)   84601.25
49       (1, 1)    교대(법원.검찰청)   84566.25
165      (1, 1)            명동   84478.00
493      (1, 1)            합정   84303.00
91       (1, 1)           노량진   83429.75
107      (1, 1)      대림(구로구청)   79890.00
...         ...           ...        ...
187932  (53, 7)           천마산    1746.00
187928  (53, 7)            직산    1719.00
187571  (53, 7)            금곡    1713.00
187523  (53, 7)            강촌    1668.00
187688  (53, 7)            배방    1622.00
187786  (53, 7)            신답    1619.00
187702  (53, 7)            봉명    1615.00
187609  (53, 7)            대곡    1592.00
187953  (53, 7)            파주    1576.00
187926  (53, 7)            지축    1559.00
187564  (53, 7)            국수    1437.00
187586  (53, 7)       남동인더스파크    1322.00
187591  (53, 7)           남태령    1298.00
187810  (53, 7)            아신    1266.00
187548  (53, 7)            광명    1183.00
187614  (53, 7)           대성리    1087.00
187580  (53, 7)           김유정     997.00
187925  (53, 7)            지제     951.00
187827  (53, 7)            양정     921.00
187734  (53, 7)            상천     911.00
187691  (53, 7)           백양리     873.00
187625  (53, 7)           도림천     833.00
187784  (53, 7)            신내     767.00
187870  (53, 7)            원덕     610.00
187540  (53, 7)            곡산     555.00
187568  (53, 7)           굴봉산     529.00
187850  (53, 7)            오빈     426.00
187798  (53, 7)            신원     369.00
187516  (53, 7)            갈매     296.00
187604  (53, 7)            달월      95.00

[187985 rows x 3 columns]

## 연,월,일 입력

In [8]:
today=datetime.date(int(input("년도:")),int(input("월:")),int(input("일:"))).isocalendar()[1:]

년도:2019
월:2
일:4

## *해당 주 차 및 요일의 승하차총승객수 내림차순

In [9]:
np.where(obj2["주차요일"] == today)
select_indices = list(np.where(obj2["주차요일"] == today)[0])
top20=obj2.iloc[select_indices]
top20.head(20)

         주차요일           역명   승하차총승객수
17896  (6, 1)           강남  165856.0
18132  (6, 1)          서울역  154520.6
18300  (6, 1)     잠실(송파구청)  151313.8
17918  (6, 1)        고속터미널  147112.8
18383  (6, 1)         홍대입구  133619.2
18187  (6, 1)           신림  113149.2
18099  (6, 1)           사당  108473.0
17936  (6, 1)      구로디지털단지  104087.4
18140  (6, 1)           선릉  103573.2
17888  (6, 1)      가산디지털단지   98868.6
18185  (6, 1)          신도림   98400.8
18316  (6, 1)         종로3가   96986.2
17909  (6, 1)         건대입구   95418.8
18167  (6, 1)           수원   88035.4
18107  (6, 1)     삼성(무역센터)   87364.8
17976  (6, 1)          노량진   83905.8
18241  (6, 1)          영등포   81127.8
18130  (6, 1)  서울대입구(관악구청)   80228.2
18236  (6, 1)           역삼   79562.4
17901  (6, 1)   강변(동서울터미널)   78729.0